/* Existing CSS */
.container {
    height: 70vh; /* Full height of the viewport */
  }
  
  .btn-primary {
    background-color: #FF5A5F;
    color:white
  }
  
  
  /* Updated CSS for larger textboxes and smaller font */
  .form-control {
    height: 50px; /* Increased height for larger textboxes */
    width: 400px;
    padding: 6px 12px; /* Adjust padding if necessary */
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-size: 14px; /* Smaller font size */
  }
  