table {
    width: 100%;
    padding: 1%;
  }
  
.maintab{
    margin:5%
}
  th.mat-header-cell, td.mat-cell {
    padding: 8px;
    text-align: left;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 6px 10px -4px rgba(0,0,0,0.15);
  }
  
  .backSearch{
    margin-left: 2%;
    background-color: #FF5A5F;
    border-color: white;
  }


  .mat-cell {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .mat-column-name {
    width: 200px; /* Example width */
  }
  
  .mat-column-beds {
    width: 100px;
  }
  
  .mat-column-price {
    width: 150px;
  }
  
  .mat-column-amenities {
    width: 250px; /* Initial width for cropping */
  }
  
  .mat-column-totalRating {
    width: 120px;
  }
  
  .cropped {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 230px; /* slightly less than column width to fit 'show more' */
  }
  